<mat-card class="dayplanner-card">
  <mat-card-title>Dayplanner</mat-card-title>

  <mat-card-content>
    <mat-list>
      <mat-list-item> Amazon delivery </mat-list-item>
      <mat-list-item> 8:30 - Review PRs </mat-list-item>
      <mat-list-item> 9:00 - Investigate perf regression </mat-list-item>
      <mat-list-item> 12:30 - Lunch and walk </mat-list-item>
      <mat-list-item> 14:00 - Look into AOT bug </mat-list-item>
      <mat-list-item> 18:00 - Gym </mat-list-item>
      <mat-list-item> 20:30 - Dinner and time with Nora </mat-list-item>
      <mat-list-item> 22:30 - Bed </mat-list-item>
    </mat-list>
  </mat-card-content>

  <mat-card-actions>
    <button mat-icon-button>
      <mat-icon aria-label="Example icon-button with a heart icon">navigate_before</mat-icon>
    </button>
    <button mat-button>01/01/2019</button>
    <button mat-icon-button>
      <mat-icon aria-label="Example icon-button with a heart icon">navigate_next</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon aria-label="Example icon-button with a heart icon">help_outline</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
