<mat-card class="dayplanner-card">
  <mat-card-title>Dayplanner</mat-card-title>

  <mat-card-content>
    <mat-list>
      <sm-dayplanner-item
        *ngFor="let item of day.items"
        time="{{item.time}}"
        content="{{item.content}}"
      ></sm-dayplanner-item>
    </mat-list>
  </mat-card-content>

  <mat-card-actions>
    <button mat-icon-button>
      <mat-icon aria-label="Example icon-button with a heart icon">navigate_before</mat-icon>
    </button>
    <button mat-button>{{day.date | date:"MM/dd/yyyy"}}</button>
    <button mat-icon-button>
      <mat-icon aria-label="Example icon-button with a heart icon">navigate_next</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon aria-label="Example icon-button with a heart icon">help_outline</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
