.item-container {
  min-height: 40px;
  padding: 5px 0;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.edit-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  height: 40px;
}

.unscheduled {
  color: lightgray;
}

.past {
  color: gray;
}

.current {
  color: black;
  font-size: larger;
  font-weight: bolder;
}

.content {
  flex-grow: 1;
}

.actions {
  margin-left: auto;
  flex-shrink: 0;
  opacity: 0;
  transition: all 0.1s ease-in-out;
  pointer-events: none;
}

.selected .actions {
  opacity: 1;
  animation: enable-pointer-events 0.2s steps(1) forwards;
}

.hidden {
  display: none;
}

mat-list-item {
  animation: fadein 0.2s ease-in-out;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes enable-pointer-events {
  100% {
    pointer-events: auto;
  }
}
