.item-container {
  min-height: 40px;
  padding: 6px 0;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.edit-container {
  display: flex;
  align-items: center;
  height: 40px;
}

.item-string {
  display: flex;
  align-items: center;
  min-height: 40px;
}

.content {
  flex-grow: 1;
}

.unscheduled {
  color: lightgray;
}

.past {
  color: gray;
}

.current {
  color: black;
  font-size: 22px;
  font-weight: bolder;
}

.actions {
  margin-left: auto;
  flex-shrink: 0;
  opacity: 0;
  transition: all 0.1s ease-in-out;
  pointer-events: none;
  /* Width of two buttons. */
  width: 80px;
}

.selected .actions, .editing .actions {
  opacity: 1;
  animation: enable-pointer-events 0.2s steps(1) forwards;
}

/* TODO: use this as a mixing on the '.editing' selector.  */
.hidden {
  display: none;
}

mat-list-item {
  animation: fadein 0.2s ease-in-out;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes enable-pointer-events {
  100% {
    pointer-events: auto;
  }
}

.item-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  /* This margin offsets the form field padding to prevent text from going up when editing. */
  margin-top: .4375em;
}

.full-width {
  width: 100%;
}
