<div
  class="item-container"
  [ngClass]="{ 'selected': selected }"
  (tap)="(selected || !item) && showEditForm($event)"
>
  <sm-dayplanner-item-edit
  class="edit-container"
    [class.hidden]="!(editMode || forceEdit)"
    [item]="item"
    [collection]="collection"
    [dayTimestamp]="dayTimestamp"
    (exit)="closeEdit($event)"
  >
  </sm-dayplanner-item-edit>

  <div
    class="content-container"
    [class.hidden]="(editMode || forceEdit)"
    *ngIf="item"
  >
    <div
      class="content"
      [ngClass]="this.state | async"
    >
      {{item.toString()}}
    </div>
    <div class="actions">
      <button
        mat-icon-button
        matTooltip="Reschedule this item"
        aria-label="Reschedule this item"
      >
        <mat-icon aria-label="Reschedule">query_builder</mat-icon>
      </button>
      <button
        mat-icon-button
        matTooltip="Delete this item [delete]"
        aria-label="Delete this item"
        (click)="delete()"
      >
        <mat-icon aria-label="Delete">delete</mat-icon>
      </button>
    </div>
  </div>
</div>
