<div *ngIf="editFormVisible; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
  <sm-dayplanner-item-edit
    [item]="item"
    [collection]="collection"
    (exit)="editFormVisible = false"
  >
  </sm-dayplanner-item-edit>
</ng-template>
<ng-template #elseBlock>
  <mat-list-item
    class="item"
    *ngIf="item; else empty"
  >
    <div [ngClass]="this.state | async">
      <span *ngIf="item.startTime">{{item.startTime | timeNumber}} -&nbsp;</span>
      {{item.content}}
    </div>
    <div class="actions">
      <button
        mat-icon-button
        matTooltip="Reschedule this item"
        aria-label="Reschedule this item"
      >
        <mat-icon aria-label="Reschedule">query_builder</mat-icon>
      </button>
      <button
        mat-icon-button
        matTooltip="Delete this item"
        aria-label="Delete this item"
        (click)="delete()"
      >
        <mat-icon aria-label="Delete">delete</mat-icon>
      </button>
    </div>
  </mat-list-item>
  <ng-template #empty>
    <mat-list-item></mat-list-item>
  </ng-template>
</ng-template>
