:host {
  margin: auto;
}

.dayplanner-list {
  box-shadow: inherit;
}

.dayplanner-list mat-card-content {
  margin-bottom: 0;
}

@media (min-width:320px) {
  :host {
    flex-grow: 1;
  }
}

@media (min-width:850px) {
  :host {
    flex-grow: 0;
  }
  .dayplanner-list {
    margin-top: 20px;
    width: 500px;
  }
  .dayplanner-list {
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    padding-top: 0;
    padding-bottom: 0;
  }
  .dayplanner-list mat-card-title {
    /* This padding matches a padding bottom on the datepicker. */
    padding-top: 20px;
  }
}

.hidden {
  visibility: hidden;
}

.title-bar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.title {
  flex-grow: 1;
  font-weight: 500;
  font-size: 22px;
  font-style: italic;
  padding-bottom: 4px;
}

.actions {
  display: flex;
  align-items: center;
}

.actions button {
  opacity: 0.3;
  transition: all 0.1s ease-in-out;
}


/* TODO: use scss instead to group these with `mat-card-actions button` */
/* They seem to need a different opacity though. */

.actions mat-form-field {
  opacity: 0.5;
  transition: all 0.1s ease-in-out;
}

.actions button:hover, .actions mat-form-field:hover, .actions mat-form-field:focus-within {
  opacity: 1;
}

.datepicker-input {
  width: 100px;
  margin: 0 5px;
  font-size: 14px;
}
