<mat-card class="dayplanner-card">
  <mat-card-title>Dayplanner</mat-card-title>

  <mat-card-content>

    <mat-list *ngIf="items$ | async as items; else loading">
      <sm-dayplanner-item
        *ngFor="let item of items"
        [collection]="collection"
        [item]="item"
        [ticker]="ticker"
      ></sm-dayplanner-item>

      <sm-dayplanner-item-edit
        *ngIf="showNewItemForm"
        [collection]="collection"
        (exit)="showNewItemForm = false"
      >
      </sm-dayplanner-item-edit>
    </mat-list>

    <ng-template #loading>Loading&hellip;</ng-template>

  </mat-card-content>

  <mat-card-actions>
    <button mat-icon-button>
      <mat-icon aria-label="Example icon-button with a heart icon">navigate_before</mat-icon>
    </button>
    <button mat-button>{{day | date:"dd/MM/yyyy"}}</button>
    <button mat-icon-button>
      <mat-icon aria-label="Example icon-button with a heart icon">navigate_next</mat-icon>
    </button>
    <button
      mat-icon-button
      (click)="showNewItemForm = !showNewItemForm"
    >
      <mat-icon aria-label="Add a new item to the Dayplan">add</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon aria-label="Example icon-button with a heart icon">help_outline</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
