<mat-card class="dayplanner-list">
  <div class="title-bar">
    <div class="title">
      Dayplanner
    </div>

    <div class="actions">
      <button
        mat-icon-button
        matTooltip="Previous day [arrowleft]"
        aria-label="Switches to the previous day"
        (click)="previousDay()"
      >
        <mat-icon aria-label="Example icon-button with a heart icon">navigate_before</mat-icon>
      </button>

      <mat-form-field
        [floatLabel]="'never'"
        class="datepicker-input"
      >
        <input
          matInput
          #dateInput
          [formControl]="dateFormControl"
          [matDatepicker]="datepicker"
        >
        <mat-datepicker-toggle
          matSuffix
          [for]="datepicker"
          matTooltip="Open date picker [p]"
        ></mat-datepicker-toggle>
        <mat-datepicker #datepicker></mat-datepicker>
      </mat-form-field>

      <button
        mat-icon-button
        matTooltip="Next day [arrowright]"
        aria-label="Switches to the next day"
        (click)="nextDay()"
      >
        <mat-icon aria-label="Example icon-button with a heart icon">navigate_next</mat-icon>
      </button>

      <button
        mat-icon-button
        matTooltip="Add a new item [Enter]"
        aria-label="Shows a form to add new items"
        (click)="editOrNew()"
        class="faded"
      >
        <mat-icon aria-label="Add a new item to the Dayplan">add</mat-icon>
      </button>

      <button
        mat-icon-button
        matTooltip="Information about Dayplanner [?]"
        aria-label="Shows information about Dayplanner"
        (click)="openHelp()"
      >
        <mat-icon aria-label="Help">help_outline</mat-icon>
      </button>

    </div>
  </div>

  <mat-card-content>

    <mat-list *ngIf="items$ | async as items; else loading">
      <sm-dayplanner-item
        *ngFor="let item of items; index as idx; trackBy: trackByItems"
        [dayTimestamp]="dayTimestamp"
        [item]="item"
        [nextItem]="items[idx+1]"
        [ticker]="tickerService.ticker"
        [selected]="item.id === selectedItemId"
        (mouseenter)="selectItem(item)"
        (mouseleave)="delectIfSelected(item)"
      ></sm-dayplanner-item>

      <sm-dayplanner-item
        #emptyItem
        [forceEdit]="itemsSnapshot.length === 0"
        [dayTimestamp]="dayTimestamp"
        [collection]="collection"
      ></sm-dayplanner-item>
    </mat-list>

    <ng-template #loading>
      <div style="display: flex;">
        <!-- NB: spinner diameter is same size as above mat-list with empty item. -->
        <!-- This is done so that there is no resize after load on days with no items. -->
        <mat-spinner
          style="margin: auto;"
          diameter="56"
        ></mat-spinner>
      </div>
    </ng-template>

  </mat-card-content>
</mat-card>
