<mat-card class="dayplanner-card">
  <mat-card-title>Dayplanner</mat-card-title>

  <mat-card-content>

    <mat-list *ngIf="items$ | async as items; else loading">
      <sm-dayplanner-item
        *ngFor="let item of items"
        [collection]="collection"
        [item]="item"
        [ticker]="ticker"
        [selected]="item.id === selectedItemId"
        (mouseenter)="selectMouseTarget($event.target)"
        (mouseleave)="deselectMouseTarget($event.target)"
      ></sm-dayplanner-item>

      <sm-dayplanner-item
        #emptyItem
        [collection]="collection"
      ></sm-dayplanner-item>
    </mat-list>

    <ng-template #loading>
      <div style="display: flex;">
        <mat-spinner
          style="margin: auto;"
          diameter="50"
        ></mat-spinner>
      </div>
    </ng-template>

  </mat-card-content>

  <mat-card-actions>
    <button
      mat-icon-button
      matTooltip="Previous day"
      aria-label="Switches to the previous day"
    >
      <mat-icon aria-label="Example icon-button with a heart icon">navigate_before</mat-icon>
    </button>
    <button mat-button>{{day | date:"dd/MM/yyyy"}}</button>
    <button
      mat-icon-button
      matTooltip="Next day"
      aria-label="Switches to the next day"
    >
      <mat-icon aria-label="Example icon-button with a heart icon">navigate_next</mat-icon>
    </button>
    <button
      mat-icon-button
      matTooltip="Add a new item [Enter]"
      aria-label="Shows a form to add new items"
      (click)="addNewItem()"
    >
      <mat-icon aria-label="Add a new item to the Dayplan">add</mat-icon>
    </button>
    <button
      mat-icon-button
      matTooltip="Information about Dayplanner"
      aria-label="Shows information about Dayplanner"
    >
      <mat-icon aria-label="Help">help_outline</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
